	<h1>Help</h1>
	<p>
	  Get help on Ruby on Rails Tutorial at the
	  <a href="http://railstutorial.org/help">Ruby on Rails help page</a>
	  To get help on this app, see the
	  <a href="http://rubyonrails.org/book">Ruby on Rails Tutorial book</a>.
	</p>